/* Réinitialisation de styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #333;
}

h1, h2, h3, p {
    color: white;
}

/* Section Hero */
.hero {
    height: 100vh;
    background: url('images/hero-bg.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-content p {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Sections */
section {
    padding: 60px 20px;
    text-align: center;
}

.about, .skills, .projects, .contact {
    background-color: #444;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.project {
    background-color: #555;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.project h3 {
    font-size: 1.5rem;
}

.project a {
    text-decoration: none;
    color: #f9a825;
}

/* Footer */
footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}

footer p {
    color: #bbb;
}

footer a {
    color: #f9a825;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
